<app-navigation></app-navigation>


<form>
  <div class="imgcontainer">
    <img src="http://pngimages.net/sites/default/files/user-png-image-16233.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="Email" required name="email" [(ngModel)]="email">

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required name="password" [(ngModel)]="password">
        
    <button (click)=checkLogin() type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
		<button (click)="gotoHome()" type="button" class="cancelbtn">Cancel</button>
		<button (click)="gotoSignup()" type="button" class="signupbtn">sign up</button>
		
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>
