<div class="bg-container-contact100 all">
  <div class="contact100-header flex-sb-m">


      </div>
</div>
<div class="container-contact100">
  <div class="wrap-contact100 ">
    <button class="btn-hide-contact100">
      <i class="zmdi zmdi-close"></i>
    </button>

    <div class="contact100-form-title arriere-plan contact100-header flex-sb-m">
        <span>{{offre.name ? 'Modifier' : 'Ajouter'}} Offres</span>
      <input class="form-control" type="hidden" name="href" [(ngModel)]="offre.href">
    </div>


    <form #formationForm="ngForm" (ngSubmit)="save(formationForm.value)" class="contact100-form validate-form">
      <!-- href -->
      <input hidden class="form-control" type="hidden" name="href" [(ngModel)]="offre.href">
      <!-- creation date  -->
      <div class="wrap-input100 validate-input">
        <p class="focus-input100">{{transformDate(offre.creationDate)}}</p>
        <input type="date" value="offre.creationDate" [(ngModel)]="offre.creationDate" class="input100" name="creationDate" placeholder="creationDate">
        <span class="focus-input100"></span>
        <label class="label-input100" >
          <span class="lnr lnr-smartphone m-b-2"></span>
        </label>
      </div>
      <!-- disponibility -->
      <div class="wrap-input100 validate-input">
          <select  class="input100" name="disponible" id="" [(ngModel)]="offre.disponible" #disponible>
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
          <span class="focus-input100"></span>
          <label class="label-input100" >
            <span class="lnr lnr-smartphone m-b-2"></span>
          </label>
        </div>
      <!-- name -->
      <div class="wrap-input100 validate-input">
        <input [(ngModel)]="offre.name" class="input100" type="text" name="name" placeholder="Name" #name>
        <span class="focus-input100"></span>
        <label class="label-input100">
          <span class="lnr lnr-user m-b-2"></span>
        </label>
      </div>
      <!-- salary -->
      <div class="wrap-input100 validate-input">
          <input [(ngModel)]="offre.salary" class="input100" type="text" name="salary" placeholder="salary" #salary>
          <span class="focus-input100"></span>
          <label class="label-input100">
            <span class="lnr lnr-user m-b-2"></span>
          </label>
        </div>


      <div class="wrap-input100 validate-input">
        <textarea [(ngModel)]="offre.description" class="input100" name="description" placeholder="Description Formation" #description></textarea>
        <span class="focus-input100"></span>
        <label class="label-input100 rs1">
          <span class="lnr lnr-bubble"></span>
        </label>
      </div>

      <div class="container-contact100-form-btn">
        <button type="submit" [disabled]="!formationForm.form.valid" class="contact100-form-btn">
          Ajouter
        </button>
      </div>
      <div class="container-contact100-form-btn">
        <button type="button" [routerLink]="['/offres']" class="contact100-form-btn">
          Annuler
        </button>
      </div>
      <div class="container-contact100-form-btn">
        <button class="contact100-form-btn" (click)="remove(offre.href)" *ngIf="offre.href" type="button">
          Supprimer
        </button>


      </div>
    </form>
  </div>
</div>

