<div>
  <button type="button"
          [routerLink]="['/compte-add']"
          class="btn btn-warning pull-right"
          style="margin-left:12px;"><i class="fa fa-plus"></i>Ajouter Compte
  </button>
</div>
<!--Responsable :

<div *ngFor="let compte of comptes">
  <a *ngIf="compte.typeCompteId=='responsable'" [routerLink]="['/compte-edit', compte.id]" >{{compte.name}}</a>


</div>
    Candidat :

<div *ngFor="let compte of comptes">
    <a *ngIf="compte.typeCompteId=='candidat'" [routerLink]="['/compte-edit', compte.id]" >{{compte.name}}</a>



</div>
    Employé

<div *ngFor="let compte of comptes">
    <a *ngIf="compte.typeCompteId=='employe'" [routerLink]="['/compte-edit', compte.id]" >{{compte.name}}</a>


</div>

<a [routerLink]="['/all-offres']" >offre </a>-->

<div class="row" style="margin-left: 20%; margin-top: 28px; width: 50%">
    <!-- TyoeCompte Menu -->
    <div class="col-md-3">
      <br>
      <div class="list-group list-group-flush">

        <!-- TyoeCompte List -->
        <a class="list-group-item list-group-item-action">
          <i class="fa fa-book"></i>&nbsp;
          <button (click)="changerToResponsbale()"  type="text" class="input-label" style="width: 80%">{{typeComptes[0].name}}</button>
        </a>
        <a class="list-group-item list-group-item-action">
          <i class="fa fa-book"></i>&nbsp;
          <button (click)="changerToCandidat()" [(ngModel)]="typeComptes[1].name"  type="text" class="input-label" style="width: 80%">{{typeComptes[1].name  }}</button>
        </a>
        <a class="list-group-item list-group-item-action">
          <i class="fa fa-book"></i>&nbsp;
          <button (click)="changerToEmploye()"  type="text" class="input-label" style="width: 80%">{{typeComptes[2].name}}</button>
        </a>
      </div>
    </div>

    <div class="col-md-9">
      <br>

      <div class="row">
        <!-- Note list -->
        <div *ngFor="let compte of comptes">

          <a *ngIf="compte.typeCompteId=='responsable' && idTypeCompte==1" [routerLink]="['/compte-edit', compte.id]" >{{compte.name}}</a>

          <a *ngIf="compte.typeCompteId=='candidat' && idTypeCompte==2" [routerLink]="['/compte-edit', compte.id]" >{{compte.name}}</a>

          <a *ngIf="compte.typeCompteId=='employe' && idTypeCompte==3" [routerLink]="['/compte-edit', compte.id]" >{{compte.name}}</a>

        </div>
      </div>
    </div>
</div>


