<div>
  <button type="button"
          [routerLink]="['/compte-add']"
          class="btn btn-warning pull-right"
          style="margin-left:12px;"><i class="fa fa-plus"></i> nouveau Compte
  </button>
</div>
Responsable :

<div *ngFor="let compte of comptes">
  <a *ngIf="compte.typeCompteId=='responsable'" [routerLink]="['/compte-edit', compte.id]" >{{compte.name}}</a>


</div>
    Candidat :

<div *ngFor="let compte of comptes">
    <a *ngIf="compte.typeCompteId=='candidat'" [routerLink]="['/compte-edit', compte.id]" >{{compte.name}}</a>



</div>
    Employé

<div *ngFor="let compte of comptes">
    <a *ngIf="compte.typeCompteId=='employe'" [routerLink]="['/compte-edit', compte.id]" >{{compte.name}}</a>


</div>

<a [routerLink]="['/all-offres']" >offre </a>



