<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-white pb-5">
              <div class="text-muted text-center mb-3">
                <small>Sign up with</small>
              </div>
              <div class="text-center">
                <a href="javascript:void(0)" class="btn btn-neutral btn-icon mr-4">
                  <span class="btn-inner--icon">
                    <img src="./assets/img/icons/common/github.svg">
                  </span>
                  <span class="btn-inner--text">Github</span>
                </a>
                <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon">
                    <img src="./assets/img/icons/common/google.svg">
                  </span>
                  <span class="btn-inner--text">Google</span>
                </a>
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
                <form #compteForm="ngForm" (ngSubmit)="save(compteForm.value)">
                    <input hidden value="candidat" [(ngModel)]="compte.typeCompteId" required name="typeCompteId" #typeCompteId>
                    <input hidden value="candidat" [(ngModel)]="compte.poste" required name="poste" #poste>

                    <div class="container mb-5">
                      <div class="row">
                        <div class="col-lg-4 col-sm-6">
                          <div class="form-group">
                            <label>Nom</label>
                            <input type="text" class="form-control" placeholder="name" [(ngModel)]="compte.name" required name="name" #name>
                            <label>Date de naissance</label>
                            <input type="date" class="form-control" placeholder="lastname" [(ngModel)]="compte.dateBirth" required name="dateBirth" #dateBirth>
                            <label for="">CV</label>
                            <input type="file" class="form-control" [(ngModel)]="compte.cv" required name="cv" #cv>
                            <label for="">Email</label>
                            <input type="email" class="form-control" [(ngModel)]="compte.email" required name="email" #email>


                          </div>

                        </div>
                        <div class="col-lg-4 col-sm-6">
                          <div class="form-group">
                            <label>Prénom</label>
                            <input type="text" class="form-control" placeholder="lastname" [(ngModel)]="compte.lastname" required name="lastname" #lasname>
                            <label for="">Adresse</label>
                            <input type="text" class="form-control" [(ngModel)]="compte.address" required name="address" #address>
                            <label for="">Numéro Téléphone</label>
                            <input type="text" class="form-control" [(ngModel)]="compte.tel" required name="tel" #tel>
                            <label for=""><b>Password</b></label>
                            <input type="password" class="form-control" placeholder="Enter Password"required name="password" [(ngModel)]="password">

                          </div>
                        </div>

                      </div>
                    </div>
                  <button  [disabled]="!compteForm.form.valid" type="submit" class="btn btn-danger btn-block btn-round">Enregistrer</button>


                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
