<app-home-navigation></app-home-navigation>
<form #compteForm="ngForm" (ngSubmit)="save(compteForm.value)">
  <div class="imgcontainer">
    <img src="http://pngimages.net/sites/default/files/user-png-image-16233.png" alt="Avatar" class="avatar">
  </div>
  <input hidden value="candidat" [(ngModel)]="compte.typeCompteId" required name="typeCompteId" #typeCompteId>
  <div class="container">
    <label for="uname"><b>Nom</b></label>
    <input  type="text" [(ngModel)]="compte.name" required name="name" #name>

    <label for="ulastname">Prenom</label>
    <input type="text" [(ngModel)]="compte.lastname" required name="lastname" #lasname>

    <label for="udatebirth">Date de naissance</label>
    <input  type="date" class="input" [(ngModel)]="compte.dateBirth" required name="dateBirth" #dateBirth>

    <label for="uaddress">Adresse</label>
    <input type="text"  [(ngModel)]="compte.address" required name="address" #address>

    <label for="utel">Numéro Téléphone</label>
    <input type="text" [(ngModel)]="compte.tel" required name="tel" #tel>

    <label for="ucv">CV</label>
    <input type="file" class="input" [(ngModel)]="compte.cv" required name="cv" #cv>




    
    <label for="uemail">Email</label>
    <input type="email" [(ngModel)]="compte.email" required name="email" #email>


    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required name="password" [(ngModel)]="password">
        
    <input class="submit" [disabled]="!compteForm.form.valid" type="submit" value="Sign up">
  </div>

  <div class="container" style="background-color:#f1f1f1">
		<button (click)="gotoHome()" type="button" class="cancelbtn">Cancel</button>
		
    <span class="psw"><a href="/login">Already Member?</a></span>
  </div>
</form>

    
    
    
    