<form #offreForm="ngForm" (ngSubmit)="save(offreForm.value)">

  ><h2>{{offre.name ? 'Edit' : 'Add'}} Offre</h2>


  <input type="hidden" name="href" [(ngModel)]="offre.href">

  <input matInput placeholder="Offre Name" [(ngModel)]="offre.name"
         required name="name" #name>
  <input matInput placeholder="description" [(ngModel)]="offre.description"
         required name="description" #description>

  <input type="date" matInput placeholder="creationDate" [(ngModel)]="offre.creationDate"
         required name="creationDate" #creationDate>
  <input matInput placeholder="Disponibility" [(ngModel)]="offre.disponible"
         required name="disponible" #disponible>
  <input type="number" matInput placeholder="salary.." [(ngModel)]="offre.salary"
         required name="salary" #salary>





  <button mat-raised-button color="primary" type="submit"
          [disabled]="!offreForm.form.valid">Save</button>
  <button mat-raised-button color="secondary" (click)="remove(offre.href)"
          *ngIf="offre.href" type="button">Delete</button>
  <a mat-button routerLink="/all-offres">Cancel</a>



</form>
