<main>
  <section class="section section-lg section-shaped pb-250">
    <div class="shape shape-style-1 shape-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>

  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <!--<div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
-->

  <div class="row" style="margin-left: 0px; margin-top: 28px; width: 70%">
    <div class="col-md-9">
      <div >

        <div *ngFor="let compte of comptes">
          <ul *ngIf="(compte.accepte==1) && (compte.typeCompteId=='candidat')">
            <li>
              <a  [routerLink]="['/responsable/recrutement-edit', compte.id]" >
                <i _ngcontent-c4="" class="ni ni-circle-08"> </i>
                <span _ngcontent-c11="" class="lead text-muted">  {{compte.name}} {{compte.lastname}}</span>
              </a>
            </li>
            

            
          </ul>
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
</main>