
<!--<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true">
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <div class="avatar">
          <img src="./assets/img/admin.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
        </div>

      </div>
      &lt;!&ndash; TyoeCompte Menu &ndash;&gt;
      <div  class="row">
        <div class="col-md-3">
          <div class="list-group list-group-flush">

            &lt;!&ndash; TyoeCompte List &ndash;&gt;
            <a class="list-group-item list-group-item-action">
              <i class="fa fa-book"></i>&nbsp;

              <button (click)="changerToResponsbale()" _ngcontent-c5="" class="btn btn-outline-default btn-round" type="button">{{typeComptes[0].name}}</button>
            </a>
            <a class="list-group-item list-group-item-action">
              <i class="fa fa-book"></i>&nbsp;
              <button (click)="changerToCandidat()" _ngcontent-c5="" class="btn btn-outline-default btn-round" type="button">{{typeComptes[1].name}}</button>
            </a>
            <a class="list-group-item list-group-item-action">
              <i class="fa fa-book"></i>&nbsp;
              <button (click)="changerToEmploye()" _ngcontent-c5="" class="btn btn-outline-default btn-round" type="button">{{typeComptes[2].name}}</button>
            </a>
          </div>
        </div>
        <div class="col-md-9">
          <div >
            &lt;!&ndash; Note list &ndash;&gt;
            <div *ngFor="let compte of comptes">
              <ul>
                <li *ngIf="compte.typeCompteId=='responsable' && idTypeCompte==1">
                  <a  [routerLink]="['/admin/comptes', compte.id]" >{{compte.name}}</a>
                </li>


                <div class="row">
                  <div class="card column" *ngIf="compte.typeCompteId=='candidat' && idTypeCompte==2">
                    <img src="../../../../assets/img/faces/profile.png" alt="Avatar" style="width:100%">
                    <div class="container">
                      <h4><b><a  [routerLink]="['/admin/comptes', compte.id]" >{{compte.name}} {{compte.lastname}}</a></b></h4>
                      <p>{{compte.poste}}</p>
                    </div>
                  </div>
                  <div class="card column" *ngIf="compte.typeCompteId=='candidat' && idTypeCompte==2">
                    <img src="../../../../assets/img/faces/profile.png" alt="Avatar" style="width:100%">
                    <div class="container">
                      <h4><b><a  [routerLink]="['/admin/comptes', compte.id]" >{{compte.name}} {{compte.lastname}}</a></b></h4>
                      <p>{{compte.poste}}</p>
                    </div>
                  </div>
                  <div class="card column" *ngIf="compte.typeCompteId=='candidat' && idTypeCompte==2">
                    <img src="../../../../assets/img/faces/profile.png" alt="Avatar" style="width:100%">
                    <div class="container">
                      <h4><b><a  [routerLink]="['/admin/comptes', compte.id]" >{{compte.name}} {{compte.lastname}}</a></b></h4>
                      <p>{{compte.poste}}</p>
                    </div>
                  </div>
                </div>

                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>




      <br/>

    </div>
  </div>
</div>-->



<main>
  <section class="section section-lg section-shaped pb-250">
    <div class="shape shape-style-1 shape-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>

    <button _ngcontent-c5="" class="btn btn-1 btn-neutral" type="button">Ajouter Compte</button>
  </section>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row" type="pills">

          <ngb-tab title="Responsables">
            <ng-template ngbTabContent *ngFor="let compte of comptes">
              <a *ngIf="compte.typeCompteId=='responsable'" [routerLink]="['/admin/comptes', compte.id]" ><div _ngcontent-c4="">
                <i _ngcontent-c4="" class="ni ni-circle-08"></i>
                <span _ngcontent-c4=""> {{compte.name}} {{compte.lastname}}</span>
              </div></a>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Employés">
            <ng-template ngbTabContent *ngFor="let compte of comptes">
              <a *ngIf="compte.typeCompteId=='employee'" [routerLink]="['/admin/comptes', compte.id]" >
                <div _ngcontent-c4="">
                  <i _ngcontent-c4="" class="ni ni-circle-08"></i>
                  <span _ngcontent-c4=""> {{compte.name}} {{compte.lastname}}</span>
                </div></a>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Candidats">
            <ng-template ngbTabContent *ngFor="let compte of comptes">
              <a *ngIf="compte.typeCompteId=='candidat'" [routerLink]="['/admin/comptes', compte.id]" >
                <div _ngcontent-c4="">
                  <i _ngcontent-c4="" class="ni ni-circle-08"></i>
                  <span _ngcontent-c4=""> {{compte.name}} {{compte.lastname}}</span>
                </div>

              </a>

            </ng-template>
          </ngb-tab>

        </ngb-tabset>
      </div>
    </div>


  </div>


</main>
