<main>
  <section class="section section-lg section-shaped pb-250">
    <div class="shape shape-style-1 shape-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>

  </section>



  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row" type="pills">

          <ngb-tab title="Responsables" >
            <ng-template ngbTabContent *ngFor="let compte of comptes">
              <a *ngIf="compte.typeCompteId=='responsable'" [routerLink]="['/admin/comptes', compte.id]" >
                <div _ngcontent-c4="">
                  <i _ngcontent-c4="" class="ni ni-circle-08"></i>
                <span _ngcontent-c4=""> {{compte.name}} {{compte.lastname}}</span>
                </div>
              </a>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Employés">
            <ng-template ngbTabContent *ngFor="let compte of comptes">

              <a *ngIf="compte.typeCompteId=='employee'" [routerLink]="['/admin/comptes', compte.id]" >
                <div _ngcontent-c4="">
                  <i _ngcontent-c4="" class="ni ni-circle-08"></i>
                  <span _ngcontent-c4=""> {{compte.name}} {{compte.lastname}}</span>
                </div></a>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Candidats">
            <ng-template ngbTabContent *ngFor="let compte of comptes">
              <a *ngIf="compte.typeCompteId=='candidat'" [routerLink]="['/admin/comptes', compte.id]" >
                <div _ngcontent-c4="">
                  <i _ngcontent-c4="" class="ni ni-circle-08"></i>
                  <span _ngcontent-c4=""> {{compte.name}} {{compte.lastname}}</span>
                </div>

              </a>

            </ng-template>
          </ngb-tab>

        </ngb-tabset>
      </div>
    </div>


  </div>

 <!-- <div _ngcontent-c1="" class="navbar-collapse collapse show" id="navbar_global"><div _ngcontent-c1="" class="navbar-collapse-header">
    <div _ngcontent-c1="" class="row"><div _ngcontent-c1="" class="col-6 collapse-brand"><a _ngcontent-c1="" href="/argon-design-system-angular/home">
      <img _ngcontent-c1="" src="./assets/img/brand/blue.png"></a></div>
      <div _ngcontent-c1="" class="col-6 collapse-close"><button _ngcontent-c1="" aria-controls="navbar_global" class="navbar-toggler" type="button" aria-expanded="true">
        <span _ngcontent-c1=""></span><span _ngcontent-c1=""></span></button></div></div></div><ul _ngcontent-c1="" class="navbar-nav navbar-nav-hover align-items-lg-center">
    <li _ngcontent-c1="" class="nav-item dropdown">
      <a _ngcontent-c1="" class="nav-link no-caret" data-toggle="dropdown" role="button">
        <i _ngcontent-c1="" class="ni ni-ui-04 d-lg-none"></i><span _ngcontent-c1="" class="nav-link-inner&#45;&#45;text">Comptes</span></a>


      <div _ngcontent-c1="" class="dropdown-menu-xl dropdown-menu">
        <div _ngcontent-c1="" class="dropdown-menu-inner" >


        <a _ngcontent-c1="" class="media d-flex align-items-center" routerlinkactive="active" [routerLink]="['/admin/comptes', compte.id]">
          <div _ngcontent-c1="" class="media-body ml-3">
            <h6 _ngcontent-c1="" class="heading text-primary mb-md-1">Responsables</h6>
            </div>
        </a>

        <a _ngcontent-c1="" class="media d-flex align-items-center" routerlinkactive="active" href="/argon-design-system-angular/documentation/colors">
         <div _ngcontent-c1="" class="media-body ml-3">
          <h6 _ngcontent-c1="" class="heading text-primary mb-md-1">Employes</h6>
          </div></a>
        <a a _ngcontent-c1="" class="media d-flex align-items-center" routerlinkactive="active" href="/argon-design-system-angular/documentation/alerts">

          <div _ngcontent-c1="" class="media-body ml-3">
            <h5 _ngcontent-c1="" class="heading text-warning mb-md-1">Candidats</h5>
            </div></a>
      </div></div></li>
    </ul>
   </div>-->


</main>
