  <form #compteForm="ngForm" (ngSubmit)="save(compteForm.value)">

      <h2>{{compte.name ? 'Edit' : 'Add'}} Compte </h2>


      <input type="hidden" name="href" [(ngModel)]="compte.href">

  <div>
        <input matInput placeholder="Compte Name" class="input-label-lg" [(ngModel)]="compte.name" maxlength="18" style="width: 80%"
               required name="name" #name>
        <br/>
        <input matInput placeholder="Lastname" [(ngModel)]="compte.lastname"
               required name="lastname" #lasname>
        <br/>
        <select  matInput placeholder="typeCompteId" [(ngModel)]="compte.typeCompteId"
               required name="typeCompteId" #typeCompteId>
            <option value="responsable">responsable</option>
            <option value="candidat">candidat</option>
          <option value="employe">employé</option>
        </select>
  </div>

    <div>
    <input matInput placeholder="Email" [(ngModel)]="compte.email"
           required name="email" #email>
      <br/>

      <input matInput placeholder="Tel.." [(ngModel)]="compte.tel"
           required name="tel" #tel>
      <br/>

      <input type="date" matInput placeholder="Date Birth" [(ngModel)]="compte.dateBirth"
           required name="dateBirth" #dateBirth>
      <br/>

      <input type="file" matInput placeholder="CV" [(ngModel)]="compte.cv"
           required name="cv" #cv>
      <br/>

      <input type="file" matInput placeholder="Contrat" [(ngModel)]="compte.contrat"
           required name="contrat" #contrat>
      <br/>

      <input matInput placeholder="Address.." [(ngModel)]="compte.address"
           required name="address" #address>
    </div>




  <div>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="!compteForm.form.valid">Save</button>
      <button mat-raised-button color="secondary" (click)="remove(compte.href)"
              *ngIf="compte.href" type="button">Delete</button>
      <a mat-button routerLink="/all-comptes">Cancel</a>
  </div>


  </form>
