<div class="bg-container-contact100 all">
  <div class="contact100-header flex-sb-m">

  </div>
</div>

<div class="container-contact100">
  <div class="wrap-contact100">
    <button class="btn-hide-contact100">
      <i class="zmdi zmdi-close"></i>
    </button>

    <div class="contact100-form-title arriere-plan contact100-header flex-sb-m">
        <span>{{formation.name ? 'Modifier' : 'Ajouter'}} Formation</span>
      <input class="form-control" type="hidden" name="href" [(ngModel)]="formation.href">
    </div>


    <form #formationForm="ngForm" (ngSubmit)="save(formationForm.value)" class="contact100-form validate-form">
      <div class="wrap-input100 validate-input">
        <input [(ngModel)]="formation.name" class="input100" type="text" name="name" placeholder="Sujet Formation" #name>
        <span class="focus-input100"></span>
        <label class="label-input100">
          <span class="lnr lnr-user m-b-2"></span>
        </label>
      </div>



      <div class="wrap-input100 validate-input">
        <input [(ngModel)]="formation.duree" class="input100" name="durée" placeholder="Durée">
        <span class="focus-input100"></span>
        <label class="label-input100" >
          <span class="lnr lnr-smartphone m-b-2"></span>
        </label>
      </div>


      <div class="wrap-input100 validate-input">
        <textarea [(ngModel)]="formation.description" class="input100" name="description" placeholder="Description Formation" #description></textarea>
        <span class="focus-input100"></span>
        <label class="label-input100 rs1">
          <span class="lnr lnr-bubble"></span>
        </label>
      </div>

      <div class="container-contact100-form-btn">
        <button type="submit" [disabled]="!formationForm.form.valid" class="contact100-form-btn">
          Ajouter
        </button>
      </div>
      <div class="container-contact100-form-btn">
        <button type="button" [routerLink]="['/responsable/formation']" class="contact100-form-btn">
          Annuler
        </button>
      </div>
      <div class="container-contact100-form-btn">
        <button class="contact100-form-btn" (click)="remove(formation.href)" *ngIf="formation.href" type="button">
          Supprimer
        </button>


      </div>
    </form>
  </div>
</div>
<div class="bg-container-contact100 all">
  <div class="contact100-header flex-sb-m">

  </div>
</div>

<div class="container-contact100">
  <div class="wrap-contact100">
    <button class="btn-hide-contact100">
      <i class="zmdi zmdi-close"></i>
    </button>

    <div class="contact100-form-title arriere-plan contact100-header flex-sb-m">
        <span>{{formation.name ? 'Modifier' : 'Ajouter'}} Formation</span>
      <input class="form-control" type="hidden" name="href" [(ngModel)]="formation.href">
    </div>


    <form #formationForm="ngForm" (ngSubmit)="save(formationForm.value)" class="contact100-form validate-form">
      <div class="wrap-input100 validate-input">
        <input [(ngModel)]="formation.name" class="input100" type="text" name="name" placeholder="Sujet Formation" #name>
        <span class="focus-input100"></span>
        <label class="label-input100">
          <span class="lnr lnr-user m-b-2"></span>
        </label>
      </div>



      <div class="wrap-input100 validate-input">
        <input [(ngModel)]="formation.duree" class="input100" name="durée" placeholder="Durée">
        <span class="focus-input100"></span>
        <label class="label-input100" >
          <span class="lnr lnr-smartphone m-b-2"></span>
        </label>
      </div>


      <div class="wrap-input100 validate-input">
        <textarea [(ngModel)]="formation.description" class="input100" name="description" placeholder="Description Formation" #description></textarea>
        <span class="focus-input100"></span>
        <label class="label-input100 rs1">
          <span class="lnr lnr-bubble"></span>
        </label>
      </div>

      <div class="container-contact100-form-btn">
        <button type="submit" [disabled]="!formationForm.form.valid" class="contact100-form-btn">
          Ajouter
        </button>
      </div>
      <div class="container-contact100-form-btn">
        <button type="button" [routerLink]="['/responsable/formation']" class="contact100-form-btn">
          Annuler
        </button>
      </div>
      <div class="container-contact100-form-btn">
        <button class="contact100-form-btn" (click)="remove(formation.href)" *ngIf="formation.href" type="button">
          Supprimer
        </button>


      </div>
    </form>
  </div>
</div>
