<nav class="w3-top navbar navbar-expand-lg navbar-dark bg-dark">
   
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
      </li>
      <li class="nav-item">
          <a href="/home" class="w3-bar-item w3-button w3-amber w3-hover-amber"><i class="fa fa-home w3-margin-right"></i>Home</a>
      </li>
       <li class="nav-item">
        <a *ngIf="loginService.isUserLoggedIn()" class="nav-link w3-bar-item w3-button w3-hide-small w3-hover-white" [routerLink]="['/profile',id]">Profile</a>
      </li>
      <li class="nav-item">
          <a href="/home#team" class="nav-link w3-bar-item w3-button w3-hide-small w3-hover-white">Notre équipe</a>
      </li>
      <li class="nav-item">
          <a href="/home#pricing" class="nav-link w3-bar-item w3-button w3-hide-small w3-hover-white">Price</a>
      </li>
      <li class="nav-item">
          <a href="/home#contact" class="nav-link w3-bar-item w3-button w3-hide-small w3-hover-white">Contact</a>
      </li>
      <li class="nav-item">
          <a *ngIf="!loginService.isUserLoggedIn()" href="/login" class="nav-link w3-bar-item w3-button w3-hide-small w3-hover-white">S'identifier</a>
      </li>
      <li class="nav-item">
        <a *ngIf="loginService.isUserLoggedIn()" class="nav-link w3-bar-item w3-button w3-hide-small w3-hover-white" routerLink="/logout">Déconnecter</a>
      </li>

    </ul>
  </div>
</nav>
