<nav class="w3-top navbar navbar-expand-lg navbar-dark bg-dark">
   
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
          
      </li>
      <li class="nav-item">
          <a href="/home#" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Logo</a>        </li>
      <li class="nav-item">
          <a href="/home#team" class="nav-link w3-bar-item w3-button w3-hide-small w3-hover-white">Team</a>
      </li>
      <li class="nav-item">
          <a href="/home#pricing" class="nav-link w3-bar-item w3-button w3-hide-small w3-hover-white">Price</a>
      </li>
      <li class="nav-item">
          <a href="/home#contact" class="nav-link w3-bar-item w3-button w3-hide-small w3-hover-white">Contact</a>
      </li>
      <li class="nav-item">
          <a href="/login" class="nav-link w3-bar-item w3-button w3-hide-small w3-hover-white">Login</a>
      </li>
    </ul>
  </div>
</nav>