<app-navigation></app-navigation>

<div class="container">
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>

    <form #compteForm="ngForm" (ngSubmit)="save(compteForm.value)" >

      <h2 style="text-align: center" >{{compte.name ? 'Modifier' : 'Ajouter'}} Compte </h2>
      <input class="form-control" type="hidden" name="href" [(ngModel)]="compte.href">
      <div>
        <div>
        </div>
        <label class="input-label-lg">Type compte </label>
        <select placeholder="typeCompteId" class="select-css option" [(ngModel)]="compte.typeCompteId" required name="typeCompteId" #typeCompteId>
          <option value="responsable">Responsable</option>
          <option value="employe">Employé</option>
        </select>
      </div>
      <br/>

      <div>
        <label class="input-label-lg">Nom </label>
        <input matInput type="text" placeholder="Entrer votre nom..." [(ngModel)]="compte.name" required name="name" #name>
        <br/>
        <label class="input-label-lg">Prénom</label>
        <input matInput type="text" placeholder="Entrer votre prénom..."  [(ngModel)]="compte.lastname" required name="lastname" #lasname>
        <br/>
        <label class="input-label-lg">Date de naissance</label>
        <input matInput class="input-label-lg select-css" type="date" [(ngModel)]="compte.dateBirth" required name="dateBirth" #dateBirth>
      </div>
      <br/>
      <div>

        <label class="input-label-lg">Email</label>
        <input matInput placeholder="Entrer votre Email..." type="email" [(ngModel)]="compte.email" required name="email" #email>
        <br/>
        <label class="input-label-lg">Mot de passe</label>
        <input matInput placeholder="Entrer votre Mot de passe..." type="password" [(ngModel)]="compte.password" required name="password" #password>
        <br/>
        <label class="input-label-lg">Adresse</label>
        <input matInput placeholder="Entrer votre Address.." type="text" [(ngModel)]="compte.address" required name="address" #address>
        <br/>
        <label class="input-label-lg">Numéro tel</label>
        <input matInput placeholder="Entrer votre num Tel..." type="text" [(ngModel)]="compte.tel" required name="tel" #tel>
      </div>
      <br/>
      <div>
        <label class="input-label-lg">CV</label>
        <input type="file" class="select-css" matInput placeholder="CV" [(ngModel)]="compte.cv" required name="cv" #cv>
        <br/>
        <label class="input-label-lg">Contrat</label>
        <input type="file" class="select-css" matInput placeholder="Contrat" [(ngModel)]="compte.contrat" required name="contrat" #contrat>
      </div>

      <embed [src]="compte.cv" />



      <br/>
      <div>
        <button type="submit"
                mat-raised-button color="primary"
                class="btn btn-warning pull-left"
                [disabled]="!compteForm.form.valid"
                style="margin-left:12px;"><i class="fa fa-plus"></i>SAVE
        </button>
        <button [routerLink]="['/admin/comptes']" class="btn btn-warning pull-right" type="button">Cancel</button>
        <button mat-raised-button color="secondary" class="btn btn-warning " (click)="remove(compte.href)" *ngIf="compte.href" type="button">Delete</button>

      </div>


    </form>
  </div>
</div>
